body {
    padding: 30px;
}

button {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.controls {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 10px;
}

.controls h3,
.controls button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;              
    color: #333;                    
    margin: 0 5px;                   
}